@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(150, 88, 207);
    width: 100;
} 
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
header ul li{
    margin: 10px;
}
a{
    text-decoration: none;
}

img{
    width: 150px;
}
h1{
    font-size: 34px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.contenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px 10px 0px;
    background-color: rgb(82, 102, 80);
}
.noticias{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px 10px 0px;
    background-color: rgb(82, 102, 80);
}
.presentacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion p{
    width: 70%;
    font-size: 30px;
    padding: 10px;
    font-family: "Kode Mono", monospace;
}
.presentacion h1{
    font-size: 35px;
    color: rgb(117, 122, 40);
}

.nosotros{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nosotros iframe{
    padding: 10px;
    margin: 10px;
}

.caja{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.caja img{
    border-radius: 50%;
}

.caja p{
    font-size: 12px;
}